body {
    background-color: #000;
    color: #0f0;
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    width: 100%;
    max-width: 800px; /* Added max-width property */
    margin: 0 auto; /* Added margin property to center the content */
    padding-left: 5%;
}

pre {
    padding: 10px;
    border: 1px solid #0f0;
    border-radius: 5px;
    background-color: #000;
    overflow: auto;
}

code {
    color: #0f0;
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
}

h1{
    text-align: center;
    color: #0f0;
    text-shadow: 0 0 5px #0f0;
    font-size: 64px;
}
h2, h3, h4, h5, h6 {
    text-align: center;
    color: #0f0;
}

hr {
    border-color: #0f0;
}

a {
    color: #0f0;
    text-decoration: none;
}
a:hover {
    color: #0f0;
    text-decoration: underline;
}

footer{
    text-align: center;
    color: #0f0;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#game-container {
  max-width: 700px;
  margin: 5vh auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid #0f0;
}

/* Container for the option buttons */
#options-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  /* Style each option block */
  .option {
    display: flex;
    align-items: center;
  }
  
  .option input[type="radio"] {
    margin-right: 0.5rem;
  }

.slide {
  display: none;
  transition: all 0.5s ease-in-out;
}

.slide:not(.hidden) {
  display: block;
}

.button {
    display: inline-block;
    background-color: #0f0;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    margin-top: 20px;
}

.button:hover {
  background: #292929;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #0f0;
}
